<!DOCTYPE html>
<html lang="en,fa" dir='rtl'>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap"
              rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.15.1/dist/full.css"
              rel="stylesheet"
              type="text/css"/>
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            body{
                font-family: 'Vazirmatn', sans-serif;
            }
        </style>
    </head>
    {% include 'account/loginmodal.html' %}
    {% include 'account/registrationmodal.html' %}
    <body>
        <div class="w-screen overflow-x-hidden h-screen md:flex md:justify-center">
            <div class="w-full relative md:max-w-2xl h-full">
                {% include 'inc\message.html' %}
                {% include 'inc\navbar.html' %}
                <div class="p-1 bg-blue-100/20 min-h-full">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>
