<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">صمدگرام</a>
    </div>
    <div class="flex-none gap-2">
        <div class="form-control">
            <input type="text" placeholder="جستجو" class="input input-bordered" />
        </div>
        {% comment %} <div class="dropdown dropdown-right">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://api.lorem.space/image/face?hash=33791" />
          </div>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52 mt-14">
          <li>
            <a class="justify-between">
              پروفایل
              <span class="badge">New</span>
            </a>
          </li>
          <li><a>تنظیمات</a></li>
          <li><a>خروج</a></li>
        </ul>
        </div> {% endcomment %}
        <div class="flex-none gap-2">
            <button class="btn btn-ghost">ورود</button>
            <button class="btn btn-ghost">ثبت نام</button>
        </div>
    </div>
</div>
